<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755299339588-dgt3a76960r8mk8q36jdhs1nd9kblvhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755299339588-dgt3a76960r8mk8q36jdhs1nd9kblvhp</string>
	<key>API_KEY</key>
	<string>AIzaSyCTzhj32zvyd9JMZYoFrhMXrCl5Bn8yPsM</string>
	<key>GCM_SENDER_ID</key>
	<string>755299339588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.childapp</string>
	<key>PROJECT_ID</key>
	<string>kidsgaurdian</string>
	<key>STORAGE_BUCKET</key>
	<string>kidsgaurdian.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755299339588:ios:034c55b02a11a626e5db11</string>
</dict>
</plist>